@model IEnumerable< HefestoServer.Models.HefestoDevicesEntities>

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.device.Device_Name</h2>
<h1 style="font:bold;font-family:'Times New Roman' ;font-size:18px">Device information:</h1>
<table>
    <tr>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Id</td>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Name</td>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Email address</td>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Latitude</td>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Longitude</td>
    </tr>
    <tr>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@ViewBag.device.Device_Id</td>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@ViewBag.device.Device_Name</td>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@ViewBag.device.Device_Email</td>
        <td id="lati" style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@ViewBag.device.Device_Lat</td>
        <td id="long" style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@ViewBag.device.DEvice_Long</td>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@Html.ActionLink("Edit","Edit",new{id =ViewBag.device.Device_Id})</td>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@Html.ActionLink("Delete","Delete",new{id =ViewBag.device.Device_Id})</td>
    </tr>
</table>

<h1 style="font:bold;font-family:'Times New Roman' ;font-size:18px">Operation mode:</h1>
<table>
    @if(@ViewBag.device.Device_Mode==1)
    {
        <tr>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Mode</td>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">On time</td>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Off time</td>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Port On</td>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Port Off</td>
        </tr> 
        <tr>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Timer</td>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">@ViewBag.device.Device_OnTime</td>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">@ViewBag.device.Device_OffTime</td>
            @if(ViewBag.device.Device_Port_On_Over==0){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=0<br />B=0</td>}
            @if(ViewBag.device.Device_Port_On_Over==1){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=0<br />B=1</td>}
            @if(ViewBag.device.Device_Port_On_Over==2){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=1<br />B=0</td>}
            @if(ViewBag.device.Device_Port_On_Over==3){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=1<br />B=1</td>}
            @if(ViewBag.device.Device_Port_Off_Under==0){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=0<br />B=0</td>}
            @if(ViewBag.device.Device_Port_Off_Under==1){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=0<br />B=1</td>}
            @if(ViewBag.device.Device_Port_Off_Under==2){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=1<br />B=0</td>}
            @if(ViewBag.device.Device_Port_Off_Under==3){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=1<br />B=1</td>}
        </tr>         
    }  
    @if(@ViewBag.device.Device_Mode==2)
    {
        <tr>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Mode</td>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Port status</td>
        </tr> 
        <tr>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Manual</td>
            @if(ViewBag.device.Device_Status==0){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=0<br />B=0</td>}
            @if(ViewBag.device.Device_Status==1){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=0<br />B=1</td>}
            @if(ViewBag.device.Device_Status==2){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=1<br />B=0</td>}
            @if(ViewBag.device.Device_Status==3){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=1<br />B=1</td>}

        </tr>         
    }   
    @if(@ViewBag.device.Device_Mode==3)
    {
        <tr>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Mode</td>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Set point</td>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Histeresys</td>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Port Over</td>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Port Under</td>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Port In</td>
        </tr> 
        <tr>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Automated</td>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">@ViewBag.device.Device_SetPoint mA</td>
            <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">@ViewBag.device.Device_Histerresys mA</td>
            @if(ViewBag.device.Device_Port_On_Over==0){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=0<br />B=0</td>}
            @if(ViewBag.device.Device_Port_On_Over==1){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=0<br />B=1</td>}
            @if(ViewBag.device.Device_Port_On_Over==2){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=1<br />B=0</td>}
            @if(ViewBag.device.Device_Port_On_Over==3){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=1<br />B=1</td>}
            @if(ViewBag.device.Device_Port_Off_Under==0){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=0<br />B=0</td>}
            @if(ViewBag.device.Device_Port_Off_Under==1){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=0<br />B=1</td>}
            @if(ViewBag.device.Device_Port_Off_Under==2){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=1<br />B=0</td>}
            @if(ViewBag.device.Device_Port_Off_Under==3){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=1<br />B=1</td>}
            @if(ViewBag.device.Device_Port_In==0){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=0<br />B=0</td>}
            @if(ViewBag.device.Device_Port_In==1){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=0<br />B=1</td>}
            @if(ViewBag.device.Device_Port_In==2){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=1<br />B=0</td>}
            @if(ViewBag.device.Device_Port_In==3){  <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">A=1<br />B=1</td>}
        </tr>         
    }               
</table>

<h1 style="font:bold;font-family:'Times New Roman' ;font-size:18px">Alerts:</h1>
<table>
    <tr>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Id</td>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Device name</td>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Read</td>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Alert</td>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Creation date</td>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Close date</td>
   </tr> 

@foreach (var element in @ViewBag.alerts)
{
    <tr>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@element.Alert_Id</td>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@element.Device_Information.Device_Name</td>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@element.Alert_Isread</td>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@element.Alert_Types.Alert_Description</td>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@element.Alert_Opendate</td>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@element.Alert_Closedate</td>

    </tr>
}

</table>
<br />

<body onload="initMap()">
    <div id="map_canvas"></div>
 
</body>

    <style type="text/css">
        #map_canvas {height:400px;width:460px}
    </style>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        var map;
        var markersArray = [];

        function initMap() {
            var lat = document.getElementById("lati").textContent;
            var lng = document.getElementById("long").textContent;

            var latlng = new google.maps.LatLng(lat, lng);

            var myOptions = {
                zoom: 15,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            var marker = new google.maps.Marker({
                position: map.getCenter(),
                map: map
            });

            // add marker in markers array
            markersArray.push(marker);

            google.maps.event.addListener(map, 'center_changed', function () {
                // 3 seconds after the center of the map has changed, pan back to the
                // marker.
                window.setTimeout(function () {
                    map.panTo(marker.getPosition());
                    map.setZoom(15);
                }, 8000);
            });
        }
    </script>


