@model IEnumerable<HefestoServer.Models.HefestoDevicesEntities>

@{
    ViewBag.Title = "Index";
}

<h2>Alerts:</h2>
<table>
    <tr>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Id</td>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Device name</td>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Alert</td>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Is read?</td>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Open date</td>
        <td style="text-align:center;font:bold;font-family:'Times New Roman';font-size:18px">Close date</td>
    </tr>
@foreach (var element in @ViewBag.list)
{
    <tr>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@element.Alert_Id</td>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@element.Device_Information.Device_Name</td>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@element.Alert_Types.Alert_Description</td>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@element.Alert_Isread</td>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@element.Alert_Opendate</td>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@element.Alert_Closedate</td>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@Html.ActionLink("View device","Details","Device",new{id =element.Device_Information.Device_Id},null)</td>
        <td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@Html.ActionLink("View alert","Details","Alert",new{id =element.Alert_Id},null)</td>
        @if(element.Alert_Isread==0) {<td style="text-align:center;font:normal;font-family:'Times New Roman';font-size:14px">@Html.ActionLink("Mark as read","ReadAlert","Alert",new{id =element.Alert_Id},null)</td>}
    </tr>
}

</table>